{% extends "realtor/base.html" %}

{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
<title>Events</title>
</head>
<body>

<div class="itemInner">
		<div class="Pic3">
			<h2 class="title" role="heading" aria-level="2">
                <h2>Omaha’s Henry Doorly Zoo and Aquarium</h2>
			</h2>
			<span class="details">
					<span class="description">
						Visit the world's largest indoor desert and nocturnal exhibits along with one of North America's largest indoor rainforests. Other world-class exhibits include the Scott Aquarium, Hubbard Orangutan Forest and Gorilla Valley, Lozier Giant Screen Theater®, Owen Sea Lion Shores, Berniece Grewcock Butterfly and Insect Pavilion and more. Explore Eugene T. Mahoney Kingdoms of the Night featuring the world's largest indoor swamp, a canyon and massive caves. Experience Skyfari, the aerial tram that transports guests to a new view of Omaha's Henry Doorly Zoo and Aquarium. Plan your visit in advance by downloading our free mobile app - available through Apple's App Store and Google Play.
					    <p> </p>
                    </span>
			</span>
		</div>
    <div class="event-dates">
					<span>Address: 3701 S 10th St Omaha, NE 68107</span>
                    <span><p>Region: South Omaha</p></span>
                    <span><p> More Info : <a href="https://www.omahazoo.com/" target="_blank" style="color:#0000ff;">Visit Website</a> </p></span>
				</div>
	</div>
	<div class="columns imageCol small-12">
        <a class="galleryModal" href="https://assets.simpleviewinc.com/simpleview/image/fetch/c_fill,h_553,q_75,w_1105/https://assets.simpleviewinc.com/simpleview/image/upload/crm/omaha/hdzoo_rainforest0-a67e15b15056a36_a67e16b1-5056-a36a-098966ce405925e4.jpg" target="_blank" rel="shadowbox[gallery]">
						<img src="https://assets.simpleviewinc.com/simpleview/image/fetch/c_fill,h_553,q_75,w_1105/https://assets.simpleviewinc.com/simpleview/image/upload/crm/omaha/hdzoo_rainforest0-a67e15b15056a36_a67e16b1-5056-a36a-098966ce405925e4.jpg" target="_blank" lt="Omaha's Henry Doorly Zoo &amp; Aquarium">
					</a>
	</div>
<p></p>
<h2>Weekend in Omaha</h2>
<p>This weekend, be inspired and create your own adventure. View nationally acclaimed exhibits, watch international recording artists light up the stage, or get loud at an adrenaline-pumping sports event. Each weekend in Omaha offers a unique experience.</p>
<p>Browse below and find what’s happening this weekend in Omaha.</p>
<div data-sv-item="" class="item item_1" data-recid="37797" data-seo-event="" data-seo-title="Omaha Community Playhouse | A Christmas Carol" data-gtm-vars="{ &quot;tClient_ga4&quot;: {&quot;itemName&quot;: &quot;A%20Christmas%20Carol&quot;, &quot;crmCatSubcat&quot;: &quot;Holiday&quot;, &quot;itemType&quot;: &quot;events&quot; } }">
	<div class="itemInner">
        <div class="contentCol columns  small-12 hasImage">
			<h4 class="title" role="heading" aria-level="2">
				<h4>A Chirstmas Carol </h4>
			</h4>
			<span class="details">
                <span class="description">
                        It just isn’t Christmas without A Christmas Carol! Experience Omaha’s favorite holiday tradition as Ebenezer Scrooge takes us on a life-changing journey to discover the true meaning of Christmas.Filled with stunning Victorian costumes, festive music and crisp, wintry sets, A Christmas Carol is a beautiful reminder of the power of redemption and the generosity that lies at the heart of the Christmas holiday.
                        <p>  </p>
					</span>
                <div class="event-dates">
					<span>Dates: November 18, 2022 to December 23, 2022</span>
                    <span><p> Location: Omaha Community Playhouse,  6915 Cass St Hawks Mainstage Theatre Omaha, NE 68132</p></span>
                    <span><p> More Info : <a href="https://omahaplayhouse.com/productions/a-christmas-carol-2/" target="_blank" style="color:#0000ff;">Visit Website</a> </p></span>
				</div>
			</span>
		</div>

			<div class="columns imageCol small-12">
				<a class="galleryModal" href="https://assets.simpleviewinc.com/simpleview/image/fetch/c_fill,h_553,q_75,w_1105/https://assets.simpleviewinc.com/simpleview/image/upload/crm/omaha/carol01_caac1829-5056-a36a-093ed17b11b1f3a9.jpg" target="_blank" rel="shadowbox[gallery2]">
						<img src="https://assets.simpleviewinc.com/simpleview/image/fetch/c_fill,h_553,q_75,w_1105/https://assets.simpleviewinc.com/simpleview/image/upload/crm/omaha/carol01_caac1829-5056-a36a-093ed17b11b1f3a9.jpg" alt="">
					</a>
			</div>

	</div>
</div>
<div data-sv-item="" class="item item_2" data-recid="37706" data-seo-event="" data-seo-title="Union Pacific Railroad Museum | Discovered! Winter Sports Under a Summer Sun: The Railroad and Sun Valley" data-gtm-vars="{ &quot;tClient_ga4&quot;: {&quot;itemName&quot;: &quot;Discovered!%20Winter%20Sports%20Under%20a%20Summer%20Sun%3A%20The%20Railroad%20and%20Sun%20Valley&quot;, &quot;crmCatSubcat&quot;: &quot;Other&quot;, &quot;itemType&quot;: &quot;events&quot; } }">
	<div class="itemInner">

		<div class="contentCol columns  small-12 hasImage">
			<h4 class="title" role="heading" aria-level="2">
				<h4>Midtown Crossing Season of Lights</h4>
			</h4>


		<div class="contentCol columns  small-12 hasImage">
            <span class="description">
                Settle into the peace and tranquility of a winter’s night. Stroll in the glow of a cherished holiday tradition. It’s all right here at Midtown Crossing. Tens of thousands of white LED lights strung throughout Turner Park and along Farnam Street is the perfect way to experience the peace and wonder of the holiday season.
                <h3></h3>
            </span>

			<span class="details">
				<div class="event-dates">
					<span>Date : Nov 13, 2022 - Feb 14, 2023</span>
                    <span><p>Location: Midtown Crossing,  31st-33rd and Farnam-Dodge Sts Omaha, NE 68131</p></span>
                    <span><p> More Info : <a href="https://midtowncrossing.com/event/season-of-lights/" target="_blank" style="color:#0000ff;">Visit Website</a> </p>
				</div>
			<div class="columns imageCol small-12">
				<a class="galleryModal" href="https://assets.simpleviewinc.com/simpleview/image/fetch/c_fill,h_553,q_75,w_1105/https://assets.simpleviewinc.com/simpleview/image/upload/crm/omaha/881A1458-B_408C6EF1-5056-A36A-09DECC0E0BEB6A2A_409250d8-5056-a36a-09e39790acf0967c.jpg" target="_blank" rel="shadowbox[gallery2]">
						<img src="https://assets.simpleviewinc.com/simpleview/image/fetch/c_fill,h_553,q_75,w_1105/https://assets.simpleviewinc.com/simpleview/image/upload/crm/omaha/881A1458-B_408C6EF1-5056-A36A-09DECC0E0BEB6A2A_409250d8-5056-a36a-09e39790acf0967c.jpg" target="_blank" alt="">
					</a>

			</div>

		</div>
	</div>
</div>
    <p></p>
<h2>Restaurants in Omaha</h2>
    <span><p>Omaha is best known for its steak, and dozens of authentic Omaha steakhouses throughout the city have helped shape the city's scrumptious reputation.Omaha is best known for its steak, and dozens of authentic Omaha steakhouses throughout the city have helped shape the city's scrumptious reputation.</p></span>
    <div class="itemInner">
		<div class="Pic4">
			<h4 class="title" role="heading" aria-level="2">
                <h4>Upstream Brewing Co, Old Market</h4>
			</h4>
			<span class="details">
					<span class="description">
						Derived from the Native American meaning of Omaha, “upstream” or “against the current,” the Upstream Brewing Company is just that—a brewery and restaurant different from the rest. Upstream's American pub fare menu offers delicious options for every palate. Succulent hand-cut steaks, melt-in-your-mouth macaroni and cheese, and more will leave you satisfied with any selection. Visit the website to reserve your table today.
					    <p> </p>
			</span>
		</div>
    <div class="event-dates">
					<span>Address: 514 S 11th St Omaha, Nebraska 68102</span>
                    <span><p>Region: Downtown / Old Market</p></span>
                    <span><p> More Info : <a href="https://upstreambrewing.com/" target="_blank" style="color:#0000ff;">Visit Website</a> </p></span>
				</div>
	</div>
	<div class="columns imageCol small-12">
		        <a class="galleryModal" href="https://assets.simpleviewinc.com/simpleview/image/fetch/c_fill,h_553,q_75,w_1105/https://assets.simpleviewinc.com/simpleview/image/upload/crm/omaha/Upstream0_1a599139-5056-a36a-09531b65c9ef6e11.jpg" target="_blank" rel="shadowbox[gallery]">
						<img src="https://assets.simpleviewinc.com/simpleview/image/fetch/c_fill,h_553,q_75,w_1105/https://assets.simpleviewinc.com/simpleview/image/upload/crm/omaha/Upstream0_1a599139-5056-a36a-09531b65c9ef6e11.jpg" alt="Upstream Tap">
					</a>
	</div>
		<div class="Pic5">
			<h4 class="title" role="heading" aria-level="2">
                <h4>Gather in Omaha</h4>
			</h4>
			<span class="details">
					<span class="description">
						Gather in Omaha is an epic dining experience. Once inside our historic urban-chic setting, modern eclectic American cuisine awaits as our chefs prepare savory meat, fresh fish, salads, and innovative dishes. Guests can enjoy artisan-inspired drinks on our outdoor patios or at our craftsman-style bar, right in the heart of the historic Old Market. Gather in Omaha is the first and only restaurant in town to offer an on-site hydroponic vertical urban farm with fresh produce, greens, and herbs, all hand-picked daily by our culinary team and used in our dishes and drinks. Our chefs are always looking for new and inventive ways to enhance the dining experience for everyone. Make sure not to miss our pork buns and crispy Brussels.! We’re committed to creating masterpieces that you will crave.
					    <p> </p>
			</span>
		</div>
    <div class="event-dates">
					<span>Address: 1108 Howard St Omaha, NE 68102</span>
                    <span><p>Region: Downtown / Old Market</p></span>
                    <span><p> More Info : <a href="https://gather-omaha.com/" target="_blank" style="color:#0000ff;">Visit Website</a> </p></span>
				</div>
	</div>
	<div class="columns imageCol small-12">
		<a class="galleryModal" href="https://assets.simpleviewinc.com/simpleview/image/fetch/c_fill,h_553,q_75,w_1105/https://assets.simpleviewinc.com/simpleview/image/upload/crm/omaha/gather-omaha_porkbuns_5BF70F02-5056-A36A-09626F1E2EAD41CD-5bf70cb25056a36_5bf71630-5056-a36a-093b3bd8d0c965ca.jpg" target="_blank" rel="shadowbox[gallery]">
						<img src="https://assets.simpleviewinc.com/simpleview/image/fetch/c_fill,h_553,q_75,w_1105/https://assets.simpleviewinc.com/simpleview/image/upload/crm/omaha/gather-omaha_porkbuns_5BF70F02-5056-A36A-09626F1E2EAD41CD-5bf70cb25056a36_5bf71630-5056-a36a-093b3bd8d0c965ca.jpg" alt="Gather in Omaha">
					</a>

		</a>
	</div>


</body>
</html>
{% endblock %}